

    <div class="container">
    <ul class="multiselect-list mb-4" appScrollTracker (scrollingFinished)="onScrollingFinished()">

      <li *ngFor="let p of posts$ | async " >
        <div class="card  shadow" style="width:500px;">  
        <div class="card-header" (click)="goToDetials(p)">
            <h6 class="card-title"> {{p?.data?.title}}</h6>
            <p class="card-subtitle"> Author : {{p?.data?.author}}</p>
           
          
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
         
          <!-- <h6 class="card-title"> {{p?.data?.title}}</h6> -->
        
          <img [src]="p?.data?.url" class="img-thumbnail" alt="" [width]="304" [height]="350" *ngIf="!p?.data?.is_video">
        
          <video width="400" height="315" controls *ngIf="p?.data?.is_video">        
            <source [src]="p?.data?.media.reddit_video.fallback_url" type="video/mp4">        
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="card-footer ">
          <div class="d-flex justify-content-around"> 
           <button type="button" class="btn btn-link btn-warning"><i class="bi bi-heart me-1"></i>  </button>
           <button type="button" class="btn btn-link btn-warning"><i class="bi bi-chat me-1"></i>{{p?.data?.num_comments}}</button>
           <button type="button" class="btn btn-link btn-warning"><i class="bi bi-share me-1"></i>  </button>
        </div>
        </div>
      </div>
      </li>
    </ul>

    <div class="loader"> 
    <div class="spinner-border text-info  d-flex justify-content-center align-items-center mb-4" role="status" *ngIf="isLoading">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  </div>
<!-- *ngIf="isLoading" -->